body {
  width: 300px;
  height: 200px;
}

button {
  background-color: #00a86b;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.result {
  height: 16px;
}

.insert {
  display: flex;
  gap: 16px;
}
